<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SCC - Administradores</title>

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
          {% include "topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="text-center bg-gradient-success">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="text-gray-900"> {{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Encargados locales del sistema de reportes</h1>
          <p class="mb-4">Agregue un usuario para cada iglesia, 
          de manera que pueda tener acceso a crear cuentas para los miembros de su congregación, y además llenar reportes por ellos en caso que sea necesario.</p>

          <h4 class="mb-4 text-gray-900 bg-gray-400 text-center">
            Nuevo administrador
          </h4>

          <form action="#" method = "post">
            <div class="row">
              <div class="col-lg-6 p-4">
                  <div class="form-group">
                    <label for="pass" class="text-gray-900">Nombre: </label>
                    <input type="text" class="form-control" name="nombre" placeholder="iglesia-admin" required>
                  </div> 
                  <div class="form-group">
                    <label for="church">Seleccione la iglesia:</label>
                    <select class="form-control selectpicker"  data-show-subtext="true" 
                            data-live-search="true" name="church" required>                      
                      {% for church in churchs %}
                      <option value="{{church.id}}" data-subtext="{{church.pais}}">{{church.id}} - {{church.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>                  
              </div>
              <div class="col-lg-6 p-4">
                <div class="form-group">
                  <label for="pass" class="text-gray-900">Correo electrónico: </label>
                  <input type="email" class="form-control" name="email" placeholder="admin#@sccristo.org" required>
                  </div>
                <div class="form-group">
                  <label for="pass" class="text-gray-900">Contraseña: </label>
                  <input type="password" id="pass" class="form-control" name="password" placeholder="Soldados2020-#" required>
                </div>                
                <hr>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Añadir
                </button>
              </div>
            </div>       
          </form>
          <hr>
          <h4 class="mb-4 text-gray-900 bg-gray-400 text-center">
            Lista de administradores
          </h4>
          <hr> 
          <a href="#" >
           
          </a>

          <button href="#Foo" class="btn btn-default"
           data-toggle="collapse">
            <i class="fas fa-sort-down"></i> Contraseñas
          </button>
          <div id="Foo" class="collapse mb-4">
              Las contraseñas creadas para los usuarios por defecto creados llevan el siguiente formato: 
              Soldados2020-#, donde # es el ID de la iglesia de la cual es administrador. Por ejemplo: 
              Para la iglesia de Kingwoo se creo el usuario admin1@sccristo.org con contraseña: Soldados2020-1, 
              porque 1 es el ID de la congregación de Kingwood.
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Iglesia</th>
                      <th class="font-weight-bold text-danger"></i>Eliminar</th>                     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Iglesia</th>
                      <th class="font-weight-bold text-danger"></i>Eliminar</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  	{% for user in users %}
                    <tr>
                      <td>{{user.id}}</td>
                      <td>{{user.nombre}}</td>
                      <td>{{user.email}}</td>
                      <td>{{diccChurchs[user.church_id]}}</td>
                      <td>
                        <a href="{{url_for('delete_admin', user_id = user.id)}}">
                          <i class="far fa-trash-alt text-danger"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}                            
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; SCC Reportes 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/js/demo/datatables-demo.js"></script>

  <script src="/static/js/bootstrap-select.min.js"></script>

</body>

</html>

