<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SCC - Reportes</title>

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
          {% include "topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="text-center bg-gradient-success">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <p class="text-gray-900"> {{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
          
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Reportes</h1>
          <p class="mb-4">Lista de los reportes agregados a esta iglesia al sistema SCC Reportes.</p>
          <h6 class="m-0 font-weight-bold mb-4">Iglesia: {{church_nombre}}</h6>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Nombre</th>
                      <th>Visitas</th>
                      <th>Sanidades</th> 
                      <th>Ayunos</th> 
                      <th>Enfermos</th>                                           
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Fecha</th>
                      <th>Nombre</th>
                      <th>Visitas</th>
                      <th>Sanidades</th> 
                      <th>Ayunos</th> 
                      <th>Enfermos</th> 
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for report in reports %}
                    <tr>
                      <td><a href = "{{url_for('showReport', user_id = report.user_id, report_id = report.id )}}">
                      {{report.day}}/{{report.month}}/{{report.year}}</a></td>
                      <td><a href = "{{url_for('showReports',user_id = report.user_id)}}">{{users[report.user_id]}}</a></td>  
                      <td>{{report.visitas}}</td>
                      <td>{{report.sanidades}}</td>
                      <td>{{report.ayunos}}</td>
                      <td>{{report.enfermos}}</td>                        
                    </tr>
                    {% endfor %}                            
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; SCC Reportes 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal(Lo puse en topbar.html)-->

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>

