{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider"></div>
	<div class="row banner artist">
		<div class="col-md-5 col-md-offset-1 padding-none">
			<picture>
				<img src={{ church.picture }} alt="Church Photo"
					title={{ church.nombre }}>
			</picture>
		</div>
		<div class="col-md-5">
		<h1>{{ church.nombre }}</h1>
		<h2>Pastor: {{ church.pastor }}</h2>
		<h4>{{ church.direccion }}</h4>
		</div>
		<div class="col-md-2"></div>
	</div>	
	{% if members !=[] %}
		{% for member in members %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div>
					<a href="{{url_for('showReports',user_id = member.id)}}">
						<h2 class="glyphicon glyphicon-user"> {{member.nombre}}</h2>																
					</a>
				</div>						
			</div>
			<div class="col-md-7">
				<label class="user-description">{{user.responsabilidad}}</label>
			</div>
			<div class="col-md-1"></div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
