<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('showMain')}}">
        <div class="sidebar-brand-icon rotate-n-15">
         <i class="fas fa-church"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Reportes<sup>2020</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Iglesias -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showChurchs')}}">
          <i class="fas fa-place-of-worship"></i>
          <span>Iglesias</span></a>
      </li>

      <!-- Nav Item - Membresía -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showAllMembers')}}">
          <i class="fas fa-user-friends"></i>
          <span>Membresía</span></a>
      </li>

      <!-- Nav Item - Reportes -->
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showAllReports')}}">
          <i class="fas fa-file-signature"></i>
          <span>Reportes</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Heading -->
      <div class="sidebar-heading">
        <i class="fas fa-fw fa-cog"></i>
        <span>Administrar</span>
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user"></i>
          <span>Miembros</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Agregar o cambiar estado</h6>
            <a class="collapse-item" href={{url_for('addUser')}}>
              <i class="fas fa-user-plus"></i>
              <span>Añadir</span>
            </a>
            <a class="collapse-item" href="{{url_for('activateDeactivate', user_id=0,active_value=2)}}">
              <i class="fas fa-user-check"></i>
              <i class="fas fa-user-slash"></i>
              <span>Activar / Desactivar</span>
            </a>           
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-synagogue"></i>
          <span>Iglesias</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Agregar iglesias</h6>
            <a class="collapse-item" href="{{url_for('addChurch')}}">
              <i class="fas fa-plus"></i>
              <span>Añadir</span>
            </a>
            <a class="collapse-item" href="{{url_for('adminChurchs')}}">
              <i class="far fa-edit"></i>
              <span>Editar</span>
              <i class="fas fa-trash"></i>
              <span>Eliminar</span>
            </a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->